{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="p-3 m-0 border-0 bd-example m-0 border-0">

    <form method ="post" action="#" id="loginForm" class="row g-3 needs-validation was-validated" novalidate="">

    <div class="col-md-4">
        <label for="usernameinput" class="form-label">Username</label>
        <div class="input-group has-validation">
          <span class="input-group-text" id="inputGroupPrepend">@</span>
          <input type="text" class="form-control" id="usernameinput" name="username" aria-describedby="inputGroupPrepend" required="" spellcheck="false" data-ms-editor="true">
          <div class="invalid-feedback">
            Please provide a username.
          </div>
        </div>
      </div>

    <div class="col-12">

        <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">
            Sign in
        </button>
    </div>

  </form>
</div>
<script src="{{ url_for('static', filename='index.js') }}"></script>

{% endblock %}